<div class="container">
	<div *ngIf="courses.length > 0; then listCourses; else noCourses"></div>

	<ng-template #listCourses>
		<button class="btn btn-primary" (click)="addCourse()">Ajouter</button>
		<ul>
			<h1 [textContent]="title"></h1>
			<li *ngFor="let course of courses">
				{{ course }}
				<button class="btn btn-sm btn-danger" (click)="removeCourse(course)">
					Remove
				</button>
				<button class="btn btn-sm btn-warning" (click)="updateCourse(course)">
					Update
				</button>
			</li>
			<p [hidden]="true">Hidden secret</p>
		</ul>
	</ng-template>
	<ng-template #noCourses>
		No courses available
	</ng-template>
</div>

<button
	[ngClass]="{
		'btn btn-primary': false,
		'btn btn-sm btn-danger': true,
		'btn btn-sm btn-warning': false
	}"
	[ngStyle]="{ 'font-size': false ? '80px' : '40px' }"
>
	hi
</button>

<input type="text" [appInputFormat]="'uppercase'" />
